/* Styles myProfile */


// icon user style with box shadow
.container-icon-user {
    box-shadow: 0px 0px 4px 12px #F0DCD8;
}

// comments box styles with box shadow

.comment-box {
    box-shadow: 0 1px 4px 0 #F7F7F7;
}

// btn delete additional styles
 
.btn-delete {
    box-shadow: 0 4px 4px 0 #643F38;
}

.btn-delete:hover {
    background-color: var(--lighter);
    border: 1px solid var(--dark-brown);
}